<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="css/produtos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link h5">Stock<span>Control</span></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <form class="form-inline">
                    <a href="/"><button class="btn btn-danger" type="button">Sair</button></a>
                </form>
            </li>
        </ul>
    </div>
</nav>

<br>
<h3>Estoque</h3>

<button class="add" id="myBtn">Adicionar Produto</button>
<!-- Elemento de fundo para cobrir toda a tela -->
    <div class="modal-background" id="modalBackground"></div>

    <!-- O modal existente -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="formaddprodutos">
              <form action="/add-produtos" method="POST">
                <label for="adfadfadf">Nome:</label><br>
                <input type="text" id="adfadfadf" name="nomepost"><br><br>

                <label for="fafafadf">Quantidade:</label><br>
                <input type="number" id="fafafadf" name="quantidadepost"><br><br>

                <label for="adfadfadf">Valor:</label><br>
                <input type="number" id="adfadfadf" name="valorpost"><br><br>   

                <label for="fadfad">Código de Barras:</label><br>
                <input type="text" id="fadfad" name="codpost"><br><br>
                <div class="adicionarbtnmodal">
                <button>Adicionar</button>
                </div>
              </form>
            </div>
            
        </div>
    </div>



<div class="table">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NOME</th>
      <th scope="col">QUANTIDADE</th>
      <th scope="col">VALOR</th>
      <th scope="col">CÓDIGO DE BARRAS</th>
   
    </tr>
  </thead>
  <tbody>
    {{#each produtos}}
    <tr>
      <th>{{id}}</th>
      <td>{{Nomeprod}}</td>
      <th>{{Quantidade}}</th>
      <td>R$ {{Valor}}</td>
      <td>{{Codbarra}}
        <form action="/del-produtos" method="post">
        <input type="hidden" name="id" value="{{id}}">
        <div class="lixeira">
  <button class="x"><strong>X</strong></button>
        </div>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>

<footer>
	<p>&copy; 2024 - Todos os direitos reservados</p>
	<nav>
		<ul>
			<li><a href="#">Política de privacidade</a></li>
			<li><a href="/">Início</a></li>
		</ul>
	</nav>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
<SCRipt src="js/produtos.js"></SCRipt>
</body>
</html>